<div class="content-blurb shadow">
	<h3 class="content-header">Editing Range <small>(<%= @dhcp_range.start_ip -%>, <%= @dhcp_range.end_ip -%>)</small></h3>
	<div class="subnav-group">
		<%= link_to 'Show', @dhcp_range %> |
		<%= link_to 'Back', dhcp_ranges_path %>
	</div>
	<hr>
	<script type="text/javascript">
		$(document).ready(function() {
			$('[id^=edit_dhcp_range_]').validate({
				meta: "validate"
			});
		});
	</script>
	<%= form_for(@dhcp_range) do |f| %>
		<table class="table table-striped table-bordered table-hover table-condensed">
			<tr>
				<td><label>Starting IP Address<em>*</em>:</label></td>
        <td><%= f.text_field :start_ip, :class => "{validate: {required: true, ip: true}}", :value => @dhcp_range.start_ip -%></td>
			</tr>
			<tr>
				<td><label>Ending IP Address<em>*</em>:</label></td>
        <td><%= f.text_field :end_ip, :class => "{validate: {required: true, ip: true}}", :value => @dhcp_range.end_ip -%></td>
			</tr>
			<tr>
				<td><label>Parent Network:</label></td>
				<td>
				<div class="input-append">
					<%= f.select :network_parent, options_from_collection_for_select(Network.all, :id, :name), :id=>"appendedInputButton", :type=>"text", :class=>"span3", :size=>nil  -%>
					<button class="btn" type="button" value= >Populate Network</button>
				</div>
				</td>
			</tr>
		</table>
		<%= f.submit :class => "btn btn-primary"-%>
	<%- end -%>
</div>
