<div class="span10 content-blurb shadow">
	<h1>Editing Range <br/><small>(<%= @dhcp_range.start_ip -%>, <%= @dhcp_range.end_ip -%>)</small>
	</h1>
	
	<hr>

	<%= form_for(@dhcp_range) do |f| %>
		<label><%= f.label :start_ip -%></label>
		<%= f.text_field :start_ip -%>
                <label><%= f.label :end_ip -%></label>
                <%= f.text_field :end_ip -%>

	<%= f.submit -%>
	<%- end -%>
	<%= link_to 'Show', @dhcp_range %> |
	<%= link_to 'Back', dhcp_ranges_path %>
	
	
</div>
