<div class="content-blurb shadow">
<h3 class="content-header">New Network</h3>
<div class="subnav-group"><%= link_to 'Back', networks_path %></div>
<hr>
<script type="text/javascript">
	$(document).ready(function() {
		$('#new_network').validate({
			meta: "validate"
		});
	});
</script>
<%= form_for(@network, {:class=>"form-inline"}) do |f| %>
		<table class="table table-striped table-bordered table-hover table-condensed">
			<tr>
				<td><label>Network<em>*</em>:</label></td>
    		<td><%= f.text_field :network_no, {:class => "{validate: {required: true, ip: true}}"} -%></td>
			</tr>
			<tr>
				<td><label>Netmask<em>*</em>:</label></td>
    		<td><%= f.text_field :netmask, {:class => "{validate: {required: true, netmask: true}}"}-%></td>
			</tr>
				<td><label>Name<em>*</em>:</label></td>
				<td><%= f.text_field :name, {:class => "{validate: {required: true, minlength: 2, maxlength: 50}}"} -%></td>
			<tr>
				<td><label>Router Name:</label></td>
				<td><%= f.text_field :router_name -%></td>
			</tr>
			<tr>
				<td><label>Description:</label></td>
				<td><%= f.text_area :desc, :size => "30x5" -%></td>
			</tr>
			<tr>
				<td><label>Is VRF?<em>*</em></label></td>
				<td><%= f.select :is_vrf, options_for_select([["Yes",true],["No",false]]) -%></td>
			</tr>
			<tr>
				<td><label>VLAN Number:</label></td>
				<td><%= f.text_field :vlan_no, { :class => "{validate: {digits: true, max: 4096}}"} -%></td>
			</tr>
			<tr>
				<td><label>Is HSRP?<em>*</em></label></td>
				<td><%= f.select :is_hsrp, options_for_select([["Yes",true],["No",false]]) -%></td>
			</tr>
			<tr>
				<td><label>Parent Network:</label></td>
				<td><%= f.select :network_parent, options_from_collection_for_select(Network.all, :id, :name), :include_blank => true -%></td>
			</tr>
			<tr>
				<td><label>Creator ID:</label></td>
				<td><%= f.text_field :creator_id -%></td>
			</tr>
		</table>
		<%= f.submit -%>

<%- end -%>
</div>

