        <style media="screen">
            #holder {
                margin: 0px 0 0 0px;
                width: 700px;
                height: 700px;
            }
        </style>
<script type="text/javascript">
      if(<%= @network.child_networks.length -%> > 0) {
          var totals = [<%= @network.child_networks.collect {|x| x.num_ip}.join ", " -%>],
               assigned = [<%= @network.child_networks.collect {|y| y.num_ip_assigned}.join ", " -%>],
               free = [<%= @network.child_networks.collect {|y| y.num_ip_free}.join ", " -%>],
               labels = <%= @network.child_networks.collect {|x| x.name}.to_json.html_safe-%>,
               ids = [<%= @network.child_networks.collect {|x| x.id}.join ", " -%>];
      } else {
          var totals = [<%= @network.collect {|x| x.num_ip}.join ", " -%>],
               assigned = [<%= @network.collect {|y| y.num_ip_assigned}.join ", " -%>],
               free = [<%= @network.collect {|y| y.num_ip_free}.join ", " -%>],
               labels = <%= @network.collect {|x| x.name}.to_json.html_safe-%>,
               ids = [<%= @network.collect {|x| x.id}.join ", " -%>];
      }

      $(function () {
          Raphael("TOTALS", 948, 504).pieChart(400, 250, 200, totals, labels, ids, "#fff", "total");
          Raphael("ASSIGNED", 948, 504).pieChart(400, 250, 200, assigned, labels, ids, "#fff", "assigned");
          Raphael("FREE", 948, 504).pieChart(400, 250, 200, free, labels, ids, "#fff", "free");
      });
</script>

<div class="content-blurb shadow">
<h3 class="content-header"><%= @network.name %></h3>
<%= link_to 'Edit', edit_network_path(@network) %> |
<%= link_to 'Back', networks_path %>
<hr>
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Table</a></li>
    <li><a href="#tab2" data-toggle="tab">Graphical Interface</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
	<table class="table table-striped table-bordered table-hover table-condensed">
		<tr>
			<td>ID:</td>
			<td><%= @network.id -%></td>
		</tr>
		<tr>
			<td>Name:</td>
			<td><%= @network.name -%></td>
		</tr>
		<tr>
			<td>Router Name:</td>
			<td><%= @network.router_name -%></td>
		</tr>
		<tr>
			<td>Network Number:</td>
			<td><%= @network.network_no -%></td>
		</tr>
		<tr>
			<td>Netmask Number:</td>
			<td><%= @network.netmask -%></td>
		</tr>
		<tr>
			<td>Is VRF:</td>
			<td><%= @network.is_vrf ? "Yes" : "No" -%></td>
		</tr>
		<tr>
			<td>VLAN Number:</td>
			<td><%= @network.vlan_no -%></td>
		</tr>
		<tr>
			<td>Is HSRP:</td>
			<td><%= @network.is_hsrp ? "Yes" : "No" -%></td>
		</tr>
		<tr>
			<td>Description:</td>
			<td><%= @network.desc -%></td>
		</tr>
		<tr>
			<td>Parent Network:</td>
			<td>
				<%- if @network.parent.nil? -%>
					This Network is orphaned.
				<%- else -%>
					<%= link_to @network.parent.name, network_path(@network.parent) -%>
				<%- end -%>
			</td>
		</tr>
		<tr>
			<td>Created At:</td>
			<td><%= @network.created_at -%></td>
		</tr>
		<tr>
			<td>Creator ID:</td>
			<td><%= @network.creator_id -%></td>
		</tr>
		<tr>
			<td>Updated At:</td>
			<td><%= @network.updated_at -%></td>
		</tr>
		<tr>
			<td>Updater ID:</td>
			<td><%= @network.updater_id -%></td>
		</tr>
	</table>
</div>
    <div class="tab-pane" id="tab2">
      <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#Totals" data-toggle="tab">Totals</a></li>
          <li><a href = "#Assigned" data-toggle="tab">Assigned</a></li>
          <li><a href = "#Free" data-toggle="tab">Free</a></li>
        </ul>
        <div class="tab-content">
        <div class="tab-pane active" id="Totals"><div id = "TOTALS"></div></div>
        <div class="tab-pane" id="Assigned"><div id = "ASSIGNED"></div></div>
        <div class="tab-pane" id="Free"><div id = "FREE"></div></div>
      </div>
    </div>

  </div>
</div>
</div>
</div>
