<div class="content-blurb shadow">
	<h3 class="content-header">Editing 
		<%- if @ip_address.ip_v4? -%>
			<%= @ip_address.ip_v4 -%>
		<%- elsif @ip_address.ip_v6? -%>
			<%= @ip_address.ip_v6 -%>
		<%- end -%>
	</h3>
	<div class="subnav-group">
		<%= link_to 'Show', @ip_address %> |
		<%= link_to 'Back', ip_addresses_path %>
	</div>
	<hr>
	<script type="text/javascript">
		$(document).ready(function() {
			$('[id^=edit_ip_address_]').validate({
				meta: "validate"
			});
		});
	</script>
	<%= form_for(@ip_address, {:class=>"form-inline"}) do |f| %>
		<table class="table table-striped table-bordered table-hover table-condensed">
			<tr>
				<td><label>IP Address<em>*</em>:</label></td>
        <td><%= f.text_field :ip_str, {:class => "{validate: {required: true, ip: true}} ipField"} -%></td>
			</tr>
			<tr>
				<td><label>Contact Name<em>*</em>:</label></td>
				<td><%= f.text_field :contact, {:class => "{validate: {required: true, minlength: 6, maxlength: 50}}"} -%></td>
			</tr>
			<tr>
				<td><label><%= f.label :location -%></label></td>
				<td><%= f.text_field :location -%></td>
			</tr>
			<tr>
				<td><label>Device Type<em>*</em>:</label></td>
				<td><%= f.select :device_type, options_from_collection_for_select(DeviceType.all, :id, :name) -%></td>
			</tr>
			<tr>
				<td><label>Parent Network:</label></td>
				<td>
					<%= f.select :network_parent, {},{},{:class=>"span3 parentNets"}  -%>
				<td>
			</tr>
			<tr>
				<td><label>Description:</label></td>
				<td><%= f.text_area :desc, :size => "30x5" -%></td>
			</tr>
			<tr>
				<td><label>DNS Associations</label></td>
		<%- devices = @ip_address.dns_devices -%>
				<td><%= text_field_tag(nil, nil, :id=>'textarea', :class=>"autocomplete") -%><br/>
<%= f.select(:dns_devices, devices.collect {|x| [x.name,{:name => x.name, :id => x.id}]}, 
              {:selected => (@ip_address.dns_devices.collect {|x| x.id})}, {:multiple => true}) %>
</td>
			</tr>
		<script type="text/javascript">
			$(document).ready(function() {
			$('#textarea').textext({
				plugins : 'tags prompt focus autocomplete ajax arrow',
				tagsItems :[<%= raw devices.collect {|x| "['"<<x.name<<"',#{x.id}]"}.join ", " %>],
				prompt : 'Add DNS Association',
				ajax : {
					url : /dns/autocomplete,
					dataType : 'json',
					cacheResults : true
				},
				ext: {
          tags: {
            addTags: function(tags) {
							var tagVals = tags.map(function(val)
								{
									console.log(val);
									if(typeof val == "string")
									{
										var id = /,(\d+)/.exec(val)[1];
										val = val.replace(/,\d+/g,"");
										$('<option value="'+val+'" selected="selected" name="'+val+'" id="'+id+'">'+val+'</option>').appendTo('#ip_address_dns_devices');
										return val;
									}
									return new Array(val[0]);
								});
              $.fn.textext.TextExtTags.prototype.addTags.apply(this, [tagVals]);
              }
          }
        }

			});
			});
		</script>
			<tr>
				<td><label>Static DHCP?</label></td>
				<td><%= f.select :is_static_dhcp, options_for_select([["Yes",true],["No",false]]) -%></td>
			</tr>
			<tr>
				<td><label>MAC Address:</label></td>
				<td>
					<%= f.text_field :mac_address, {:class => "{validate: {required: function(element){return $('#ip_address_is_static_dhcp').val()===\"true\";}, mac: true}}"} -%>
				</td>
			</tr>
		</table>
		<%= f.submit :class => "btn btn-primary"-%>
	<%- end -%>
	<script type="text/javascript">
		document.getElementById("ip_address_ip_str").focus();
	</script>
</div>
