	<h3 class="content-header">Editing 
		<%- if @ip_address.ip_v4? -%>
			<%= @ip_address.ip_v4 -%>
		<%- elsif @ip_address.ip_v6? -%>
			<%= @ip_address.ip_v6 -%>
		<%- end -%>
	</h3>
	<div class="subnav-group">
		<%= link_to 'Show', @ip_address %> |
		<%= link_to 'Back', ip_addresses_path %>
	</div>
	<hr>
	<script type="text/javascript">
		$(document).ready(function() {
			$('[id^=edit_ip_address_]').validate({
				meta: "validate"
			});
		});
	</script>
	<%= form_for(@ip_address) do |f| %>
		<label><%= f.label :contact -%></label>
		<%= f.text_field :contact -%>

		<label><%= f.label :location -%></label>
		<%= f.text_field :location -%>

		<label><%= f.label :device_type -%></label>
		<%= f.select :device_type, options_from_collection_for_select(DeviceType.all, :id, :name) -%>


		<label>Parent Network</label>
		<%= f.select :network_parent, options_from_collection_for_select(Network.all, :id, :name) -%>

		<label>Description</label>
		<%= f.text_area :desc, :size => "30x5" -%>

		<label>MAC Address</label>
		<%= f.text_field :mac_address -%>

		<label>DNS Associations</label>
	<%= f.fields_for :dns_devices do |dns_dev|-%>
			<%= dns_dev.select :id, [], {:multiple => true}, {:style => "display:none;"} -%>
			<%= text_field_tag "dns-assocs-nested-search" -%>
	<% end %>

		<label>Static DHCP?</label>
		<%= f.select :is_static_dhcp, options_for_select([["Yes",true],["No",false]]) -%>
		<%= f.submit :class => "btn btn-primary"-%>
	<%- end -%>
