<div class="span10 content-blurb shadow">
	<h3 class="content-header">
	<%- if @ip_address.ip_v4? -%>
		<%= @ip_address.ip_v4 -%>
	<%- elsif @ip_address.ip_v6? -%>
		<%= @ip_address.ip_v6 -%>
	<%- end -%>
	</h3>
	<%= link_to 'Edit', edit_ip_address_path(@ip_address) %> |
	<%= link_to 'Back', ip_addresses_path %>
	<hr>
	<table class="table table-striped table-bordered table-hover table-condensed">
		<tr>
			<td>ID:</td>
			<td><%= @ip_address.id -%></td>
		</tr>
		<tr>
			<td>Contact Name:</td>
			<td><%= @ip_address.contact -%></td>
		</tr>
		<tr>
			<td>Location:</td>
			<td><%= @ip_address.location -%></td>
		</tr>
		<tr>
			<td>Device Type:</td>
			<td><%= @ip_address.type.name -%></td>
		</tr>
		<tr>
			<td>Parent Network:</td>
			<td>
				<%- if @ip_address.has_parent? -%>
					<%= link_to @ip_address.network.name, network_path(@ip_address.network) -%>
				<%- else -%>
					This IP is orphaned.
				<%- end -%>
			</td>
		</tr>
		<tr>
			<td>Description:</td>
			<td><%= @ip_address.desc -%></td>
		</tr>
		<tr>
			<td>Mac Address:</td>
			<td><%= @ip_address.mac_address -%></td>
		</tr>
		<tr>
			<td>Created At:</td>
			<td><%= @ip_address.created_at -%></td>
		</tr>
		<tr>
			<td>Updated At:</td>
			<td><%= @ip_address.updated_at -%></td>
		</tr>
		<tr>
			<td>Static DHCP:</td>
			<td><%= (@ip_address.is_static_dhcp)?"Yes":"No" -%></td>
		</tr>
		<tr>
			<td>Associated DNS Devices:</td>
			<td>
			<% if @ip_address.dns_devices != [] -%>
				<% @ip_address.dns_devices.each do |d| %>
					<%= link_to d.name, dns_device_assoc_path(d) -%><br/>
				<% end %>
			<% else %>
				<%= "None" -%>
			<% end %>
			</td>
		</tr>
	</table>
</div>
