<p id="notice"><%= notice %></p>
<div class="span10 content-blurb shadow">
	<h3 class="content-header">
	Listing Device Types
	</h3>
	<hr>
	<table class="table table-striped table-bordered table-hover table-condensed">
		<thead>
			<tr>
				<td>ID</td>
				<td>Name</td>
				<td>Created At</td>
				<td>Updated At</td>
				<td>Options</td>
			</tr>
		</thead>
		<tbody>
			<% @device_types.each do |device_type| %>
			<tr>
					<td><%= device_type.id -%></td>
					<td><%= device_type.name -%></td>
					<td><%= device_type.created_at -%></td>
					<td><%= device_type.updated_at -%></td>
					<td>
 		   			<%= link_to 'Show', device_type %> | 
 	  	 			<%= link_to 'Edit', edit_device_type_path(device_type) %> | 
 	   				<%= link_to 'Destroy', device_type, method: :delete, data: { confirm: 'Are you sure?' } %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
